.titulo{
    font-size: larger;
    color: red;
}

.container{ 
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

     grid-template-columns: 
        repeat(
            auto-fit,
            minmax(150px, 300px)
        );
    gap: 32px; 
}
